* {margin: 0px;
    padding: 0px;
}

main{
    position: relative;
}

body{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/beige-tiles.png")
    
}

.topnav{
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc

    ;
    
}

.topnav a{
    float:left;
    display:block;
    color: gray;
    text-align: center;
    padding: 19px 16px;
    text-decoration:none;
}

#leftWhite{
    float:left;
    font-size: 20px;
    padding: 28px 2.5%;
    background-color: #ffffff;
}

#myName{
    float:left;
    padding: 15px 16px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: #ffffff;

}




/*
HEADERBAR ^^^^^

CONTENT vvvvvv
*/












.content{
    background-color: #ffffff;
    border: solid #dddddd;
    border-width: 1px;
    border-color: #dddddd;
    margin-top: 30px;
    margin-left: 5%;
    width: 960px;
    height: 550px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
    
}

#contentTitle{
    
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 32px;
    padding-left: 33px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight:bolder;
    

}

#contentBorder{
    margin:auto;
    border: solid #dddddd;
    border-width: 2px;
    width: 92%;
}

.profileImage{
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 15px;
    float: left;
    color: pink;
}

#imageText{
    
    font-size:20px;
    padding-top: 30px;
    line-height: 1.4; 
    padding-left: 40px;
    padding-right: 20px;
    color:#777777;
}


#blueFooter{
    position: fixed;
    bottom: 15px;
    height: 0.9%;
    background-color:#4aaaa5;
    width: 100%;


}

#copyrightFooter{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3.%;
    background-color:#666666;
    width: 100%;
    color: white;
    text-align: center;
}



/*
Contact CSS
*/

form{
    padding-left: 5%;
    padding-top: 5%;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}

input{
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #777777;
    border-radius: 5px;
 
}
input[type=text]:focus{
    background-color: rgb(241, 245, 247);
}
    
input[type=button], input[type=submit]{
    background-color: #4aaaa5;
    color: white;
    border: 0;
    padding: 10px;
    width: 15%;
}


/*
Portfolio CSS

*/

.labels{
    position: relative;
    float: left;
    width: 33.33%;
    color: #ffffff;
    height: 900px;
    width: 500px;
    padding-left: 20px;
    padding-top: 20px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   
}

.portImgx{
    
    float: left;
    width: 20%;
    padding: 5px;
    padding-right: 190px;
    
}
.portImg{
    
    float: left;
    width: 20%;
    padding: 5px;
    padding-right: 2px;
    
}

.portImg2{
    
   clear: both;
    float: left;
    width: 20%;
    padding: 5px;
    padding-right: 190px;
}

.portImg3{
    
    
     float: left;
     width: 20%;
     padding: 5px;
     padding-right: 2px;
 }

.portImg4{
    clear: both;
    float: left;
    width: 20%;
    padding: 5px;
    padding-right: 2px;
}


.imgtext1{
    position: absolute;
    left: 35px;
    top: 130px;
    
}

.imgtext2{
    position: absolute;
    left: 330px;
    top: 130px;
}

.imgtext3{
    position: absolute;
    left: 35px;
    top: 273px;
}

.imgtext4{
    position: absolute;
    left: 330px;
    top: 273px;
}

.imgtext5{
    position: absolute;
    left: 35px;
    top: 415px;
}





@media only screen and (max-width: 640px){

    #leftWhite{
        
        padding: 0px;
        
    }

    #myName{
        position: static;
        width: 100%;
        text-align: center;
        
    
    }
    
    .topnav a{
      
       
       position: relative;
       left: 27%;
        width: 15%;
        padding: 10px 5px;
       
    }








    .content{
        
        margin-left: 4.5%;
        width: 90%;
        height: 900px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        
    
    }   

    #contentTitle{

        width: 100%;
    }

    #contentBorder{
        margin:auto;
        border: solid #dddddd;
        border-width: 2px;
        width: 90%;
    }
    
    .profileImage{
        padding: 35px;
        float: left;
        width: 320px;
        height: 415px;
        padding-left: 12%;
    }
    
    #imageText{
        float:left;
        font-size:18px;
        padding-top: 0px;
        width: 80%;
        padding-left: 20px;
    }

    
}

@media only screen and (min-width: 641px) and (max-width: 768px){

    #leftWhite{
        
        padding-left: 0px;
        padding-right: 15px;
    }

    .topnav a{

        float: right;
    }







    .content{

        margin-left: 2%;
        width: 96%;
        height: 550px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        
    
    }

    .profileImage{
        float:left;
    }

    
}

@media only screen and (min-width: 769px) and (max-width: 980px){

    .content{
        margin-left: 2%;
        width: 760px;
    }

    #leftWhite{
       
        padding-left: 0px;
        padding-right: 15px;
    }
}
