* {margin: 0px;
    padding: 0px;
}

main{
    position: relative;
}

body{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/beige-tiles.png")
    
}

.topnav{
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid grey;
    
}

.topnav a{
    float:left;
    display:block;
    color: gray;
    text-align: center;
    padding: 19px 16px;
    text-decoration:none;
}

#leftWhite{
    float:left;
    font-size: 20px;
    padding: 28px 5%;
    background-color: white;
}

#myName{
    float:left;
    padding: 15px 16px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: white;

}




/*
HEADERBAR ^^^^^

CONTENT vvvvvv
*/












.content{
    background-color: white;
    border: solid #dddddd;
    border-width: 1px;
    margin-top: 30px;
    margin-left: 10%;
    width: 960px;
    height: 550px;
    
    
}

#contentTitle{
    
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 32px;
    padding-left: 33px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight:bolder;
    

}

#contentBorder{
    margin:auto;
    border: solid #dddddd;
    border-width: 2px;
    width: 92%;
}

.profileImage{
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 15px;
    float: left;
    color: pink;
}

#imageText{
    
    font-size:22.5px;
    padding-top: 30px;
    line-height: 1.4; 
    padding-left: 40px;
    padding-right: 20px;
}


#blueFooter{
    position: fixed;
    bottom: 15px;
    height: 0.9%;
    background-color:#4aaaa5;
    width: 100%;


}

#copyrightFooter{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3.%;
    background-color:gray;
    width: 100%;
    color: white;
    text-align: center;
}









@media only screen and (max-width: 640px){

    #leftWhite{
        
        padding: 0px;
        
    }

    #myName{
        position: static;
        width: 100%;
        text-align: center;
        
    
    }
    
    .topnav a{
      
       
       position: relative;
       left: 27%;
        width: 15%;
        padding: 10px 5px;
       
    }








    .content{
        
        margin-left: 5%;
        width: 90%;
        height: 1200px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        
    
    }   

    #contentTitle{

        width: 100%;
    }

    #contentBorder{
        margin:auto;
        border: solid #dddddd;
        border-width: 2px;
        width: 90%;
    }
    
    .profileImage{
        padding: 35px;
        float: left;
        width: 90%;
        height: 55%;
        padding-left: 5%;
    }
    
    #imageText{
        float:left;
        font-size:24px;
        padding-top: 0px;
        width: 80%;
        padding-left: 20px;
    }

    
}

@media only screen and (min-width: 641px) and (max-width: 768px){

    #leftWhite{
        
        padding-left: 0px;
        padding-right: 15px;
    }

    .topnav a{

        float: right;
    }







    .content{

        margin-left: 2%;
        width: 96%;
        height: 400px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        
    
    }

    .profileImage{
        float:left;
    }

    
}